body {
    width: 1900px;
    margin: 0 auto;
}

.header-nav {
    background: #313131;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu a {
    display: inline-block;
    margin-right: 35px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    align-items: flex-end;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.find-icon {
    padding: 27px 26px;
    background: #000000;
}

.header-section {
    background-image: url("../img/logo-folder/header-background.png");
    width: 100%;
    height: 369px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
    margin: 163px 0px 0px 0px;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background: #89CA62;

}

.btn-secondary {
    background: #14B9D5;
    margin-left: 20px;
}

.btn {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 19px;
    text-decoration: none;
    margin-top: 44px;
}

.main-title-text {
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 49px;
    margin-bottom: 0px;
}

.main-section {
    padding-top: 52px;
    padding-bottom: 74px;
    background: #F2F2F2;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;

}

.main-title {
    background: #F2F2F2;
}

.text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #353A3D;
    margin-top: 18px;
}

.first-container {
    width: 370px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.second-container {
    width: 370px;
    height: 441px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.third-container {
    width: 370px;
    height: 355px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.fourth-container {
    width: 370px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-top: -206px;
}

.fifth-container {
    width: 370px;
    height: 309px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-top: -85px;
}

.sixth-container {
    width: 370px;
    height: 441px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-top: -165px;
}


.section-clients {
    background-image: url("../img/clients/clients.png");
    width: 100%;
    height: 588px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    margin-top: -5px;
    color: #FFFFFF;
}

.main-strip {
    border-top: 3px solid #18B4CF;
    width: 60px;
    margin: 87px auto 0;
}


.clients-container {
    display: grid;
    padding-bottom: 191px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 207px 135px 232px 141px;
    grid-column-gap: 58px;
    margin-top: 106px;
}


.grid-title {
    color: white;
}

.div-rated {
    overflow: hidden;
    padding-top: 52px;
    display: grid;
    grid-template-columns: repeat( 7, 1fr );
}

.grid-section {
    width: 1195px;
    margin: 0 auto;
    color: white;
}

.grid-hotels {
    display: grid;
    grid-template-columns: 1fr 100px 100px  repeat(3, 80px) 1fr;
    margin-top: 50px;
}


/* row-start / column-start / row-end / column-end */
.firs-hotel {
    grid-area: 1 / 1 / 2 / 4;
}

.firs-hotel-part2 {
    width: 374px;
    height: 259px;
    grid-area: 1 / 2 / 2 / 7;
    margin-left: 110px;
    background-color: #F9F7F7;
    text-align: right;
}

.second-hotel {
    grid-area: 1 / 7 / 2 / 9;
    margin-left: 100px;
    background: #F2F2F2;
    height: 259px;
    text-align: center;
}

.third-hotel {
    width: 554px;
    grid-area: 2 / 1 / 3 / 4;
    margin-top: 30px;
    background: #F2F2F2;
    text-align: right;
}

.fourth-hotel {
    width: 554px;
    grid-area: 2 / 4 / 3 / 9;
    margin-left: 61px;
    margin-top: 30px;
    background: #F2F2F2;
    text-align: right;
}

.fifth-hotel {
    width: 554px;
    grid-area: 3 / 1 / 4 / 4;
    margin-top: 30px;
    background: #F2F2F2;
    text-align: right;
}

.sixth-hotel {
    width: 554px;
    grid-area: 3 / 4 / 4 / 9;
    margin-left: 61px;
    margin-top: 30px;
    background: #F2F2F2;
    text-align: right;
}

.seventh-hotel {
    grid-area: 4 / 1 / 5 / 3;
    margin-top: 30px;
    background: #F2F2F2;
    height: 259px;
    width: 277px;
    text-align: center;
}

.eighth-hotel {
    grid-area: 4 / 2 / 5 / 6;
    margin-top: 30px;
    margin-left: -40px;
}

.eighth-hotel-part2 {
    grid-area: 4 / 7 / 5 / 9;
    margin-top: 30px;
    margin-left: 4px;
    background: #F2F2F2;
    text-align: right;
}

.grid-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 14px 0px 15px 0px;
}

.main-news-description {
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-top: 14px;
}

.footer-information {
    background: #000000;
    margin-top: 77px;
}

.footer-text {
    font-size: 13px;
    line-height: 13px;
    display: grid;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    padding: 29px 0px 29px 0px;
    margin: 0px 0px 0px 180px;
}

.footer-logo {
    display: inline-block;
    margin-right: 200px;
}




