@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    width: 1366px;
    height: 768px;
}


/*start part*/

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-section {
    background-image: url("../img/background 1.png");
    width: 100%;
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-section {
    margin-left: 170px;
    width: 1023px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 49px;
}

.left-block {
    display: flex;
    flex-direction: row;
}

.header-section-link {
    display: flex;
    text-decoration: none;
}

.header-section-img {
    background-image: url("../img/logo 1.svg");
    width: 53px;
    height: 47px;
}

.logo-text-big {
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0px;
    margin-left: 10px;
}

.logo-text-small {
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin: 0px;
    margin-top: 3px;
}


.header-section-link:hover .header-section-img {
    background-image: url("../img/logo 2.svg");
    transition: all 0.7s;
}

.header-section-link:hover .logo-text-big {
    color: #F26522;
    transition: all 0.7s;
}

.first-word:hover {
    transition: all 0.7s;
    color: #F26522;
}

.second-word:hover {
    transition: all 0.7s;
    color: #F26522;
}

.right-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.second-word {
    display: inline-block;
    margin-top: 19px;
    margin-left: 67px;
}


/*main part*/

.main-container {
    margin-top: 22px;
}

.div-row1 {
    gap: 60px;
}

.div-row1 .div-row2 img {
    width: 300px;
    height: 260px;
}

.text-block {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.text-block:hover {
    color: #F26522;
    transition: all 0.7s;
}

.margin0 {
    margin-bottom: 0px;:
}

.div-row2 {
    margin-top: 37px;
}

.same-block {
    position: relative;
}

.hover-block {
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 270px;
    background-color: #F26522;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 16px 12px;
    display: none;
}

.same-block:hover .hover-block {
    display: flex;
}

.main-price dl {
    font-size: 10px;
    line-height: 10px;
}

.main-price dd {
    margin-top: 8px;
    font-size: 20px;
    line-height: 20px;
}

.price-block-details {
    font-size: 14px;
    line-height: 14px;
}

.price-block-details::after {
    content: "\003E";
    width: 5px;
    height: 10px;
    display: inline-block;
    margin-left: 16px;
    position: relative;
}


/*last part*/

.last-text {
    margin-top: 46px;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}