.card {
  background-color: #f3ede1;
  height: auto;
  border-radius: 5%;
  font-size: 1.9vw;

  &__img {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

  &__title {
    margin-top: 2%;
    float: left;
    font-weight: bold;
    margin-left: 3%;
  }

  &__favoutite {
    float: right;
    margin-right: 3%;
    cursor: pointer;
  }

  &__description {
    margin-top: 15%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
  }

  &__color {
    margin-left: 3%;
  }

  &__price {
    margin-left: 3%;
    float: left;
  }

  &__btn {
    float: right;
    margin-right: 10%;
    padding: 2% 2%;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 4%;
    border-radius: 11%;
    width: 83%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #65a3be;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
  }

  &__btn:hover {
    border-color: transparent;
    background-color: #4986a1;
    color: #fff;
  }
  
}
