*{
    background-color: lightgrey;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height:300px;
}

.content-container{
    flex-direction: column;
}


.btn-ip{
    padding: 25px 30px;
    font-weight: bold;
    background-color: cadetblue;
    border-radius: 15px;
    color: white;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}