.footer {
  @include wrapper;
  @include flex-container;
  background-color: $footer-theme-color;
  margin-top: 42px;
  justify-content: stretch;
  height: 315px;
  flex-direction: column;

  &__title {
    margin-top: 39px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: white;
    text-transform: uppercase;
  }

  &__description-mobile {
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: $body-secondary-text-color;
  }

  &__description {
    display: none;
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: $body-secondary-text-color;
  }

  .icon {
    &__item {
      margin-top: 26px;
      width: 34px;
      height: 34px;
    }
  }

  &__contact {
    margin-top: 25px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    color: $body-secondary-text-color;
  }


  @include tablet {
    margin-top: 0;

    &__description-mobile {
      display: none;
    }

    &__description {
      display: block;
      padding-left: 15%;
      padding-right: 15%;
    }
  }


  @include desktop {
    margin-top: 0;

    &__description-mobile {
      display: none;
    }

    &__description {
      display: block;
      padding-left: 25%;
      padding-right: 25%;
    }
  }
}

