.section-posts {
  margin-top: 38px;
  @include wrapper;

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: $body-primary-text-color;
    text-transform: uppercase;
  }

  .block-item {
    margin-top: 23px;

    .title-block {

      &__description {
        margin-top: 11px;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: $body-primary-text-color;
      }

      &__badge {
        font-size: 11px;
        line-height: 20px;
        color: $body-secondary-text-color;
      }

      &__information {
        font-size: 14px;
        line-height: 26px;
        color: $body-primary-text-color;
        display: none;
      }
    }

  }



  @include tablet {

    .block-item {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;

      .title-block {
        margin-left: 20px;

        &__description {
          margin-top: -5px;
        }

        &__information {
          display: block;
        }
      }
    }
  }



  @include desktop {

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 2%;

      .second {
        order: 1;
      }

      .fourth {
        order: 1;
      }
    }

    .block-item {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      width: 49%;

      .title-block {
        margin-left: 20px;

        &__description {
          margin-top: -5px;
        }

        &__information {
          display: block;
        }
      }
    }
  }
}





.section-shot {
  margin-top: 50px;
  @include wrapper;

  &__title-mobile {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $body-primary-text-color;
  }

  &__title {
    display: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $body-primary-text-color;
  }

  &__link {
    display: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $body-primary-text-color;
  }

  &__photo {
    max-width: 100%;
    margin-top: 13px;
  }

  .tablet-block {
    display: none;
  }

  .desktop-block {
    display: none;
  }



  @include tablet {
    background-color: #f3f1f1;
    padding-top: 47px;
    padding-bottom: 47px;

    &__title-mobile {
      display: none;
    }

    &__title {
      display: block;
    }

    &__link {
      display: block;
      float: right;
      margin-top: -22px;
    }

    &__photo {
      display: none;
    }

    .tablet-block {
      margin-top: 35px;
      display: block;
      @include flex-container;
      justify-content: space-between;

      &__photo {
        width: 32.5%;
      }
    }
  }



  @include desktop {
    background-color: #f3f1f1;
    padding-top: 47px;
    padding-bottom: 47px;

    &__title-mobile {
      display: none;
    }

    &__title {
      display: block;
    }

    &__link {
      display: block;
      float: right;
      margin-top: -22px;
    }

    &__photo {
      display: none;
    }

    .desktop-block {
      margin-top: 35px;
      display: block;
      @include flex-container;
      justify-content: space-between;

      &__photo {
        width: 24.5%;
      }
    }
  }
}



