body {
  max-width: 100%;
}

.header-twitter {
  background-color: rgb(22, 149, 216);
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;

  &__title{
    margin-left: 4%;
    font-size: 3vw;
  }
}

.section-content__cards {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  margin-top: 5%;
  border: 1px solid black;

  &__btn-close {
    float: right;
    cursor: pointer;
    padding: 1% 2%;
  }

  &__title {
    margin-left: 2%;
  }

  &__text {
    margin-left: 2%;
  }
}

.name-block {
  width: 100%;

  &__image {
    width: 10%;
    margin-left: 2%;
  }

  &__name {
    width: 80%;
    margin-left: 2%;
  }
}

.card__part-name {
  display: flex;
}
