* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.header-menu {
    text-align: center;
}

.header-list .list-item {
    margin: 25px 72px 0px 0px;
    display: inline-block;
}

.list-link {
    text-decoration: none;
    color: #FF0000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}

.image-photo {
    width: 100%;
    height: 789px;
    text-align: center;
    display: block;
    margin-top: 25px;
}

.title-text {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-top: 49px;

}

.block1-text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 38px;
    margin-right: 67.5px;
    margin-left: 67.5px;
}


.block2-text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
    margin-right: 67.5px;
    margin-left: 67.5px;
}

.btn-primary {
    display: inline-block;
    background: #FF0000;
    border-radius: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    padding: 18px 43px;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 66px;
}

.basement-last {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 82px 105px 29px 713px;
}




