.card {
  background-color: #f3ede1;
  height: auto;
  border-radius: 5%;

  &__img {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }
  
  &__title {
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 3%;
  }

  &__favoutite{
    float: right;
    margin-right: 3%;
    cursor: pointer;
  }

  &__description {
    margin-top: 15%;
    margin-left: 3%;
  }

  &__color{
    margin-left: 3%;
  }

  &__price {
    margin-left: 7%;
    float: left;
  }

  &__btn {
    float: right;
    margin-right: 10%;
    padding: 2% 2%;
    cursor: pointer;
    margin-bottom: 4%;
  }
}
