.header {
  width: 100%;
  max-width: 100%;
  background-color: #df7400;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;

  &__name {
    text-decoration: none;
    font-size: 2vw;
    margin-left: 6%;
  }
}

.basket-list {
  font-size: 2vw;
  margin-left: 57%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px;

  &__icon {
    width: 45%;
    height: 45%;
  }

  &:focus {
    border-bottom: 2px solid black;
  }
}

.favourite-list {
  font-size: 2vw;
  margin-left: 2%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__icon {
    width: 45%;
    height: 45%;
  }

  &:focus {
    border-bottom: 2px solid black;
  }
}

a {
  text-decoration: none;
  color: black;
}
