.favourite-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2.5%;
  padding-right: 2.5%;

  &__message {
    margin-top: 15%;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
  }
}
