.input {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.list-item {
    width: 100%;
    height: 1000px;
}

.input:hover {
    border: 5px solid green;
}

.span-item {
    margin: 20px 0px 20px 20px;
}

.delete-btn {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid black;
    margin-left: 3px;
    background-color: red;
    cursor: pointer;
}