@import "./components/index.scss";
@import "./pages/index.scss";

body {
  width: 100%;
  max-width: 100%;
  background-color: #9aacb7;
}

.body-container {
  position: relative;
}

.modal-container {
  position: fixed;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  padding-left: 12%;
  padding-right: 12%;

  &__toggle-box {
    margin-top: 2%;
    margin-left: -15%;
    cursor: pointer;
  }
}

.cart-container {
  z-index: 1;

  &__buy-modal {
    width: 30%;
    height: auto;
    top: 12%;
    left: 34%;
    z-index: 2;
    position: fixed;
  }
}

.orange {
  background-color: #df7400;
}

.btn-box {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5vw;
}
